*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
  --base-color: #ffffff;
  --base-variant: #fff5f0;
  --text-color: #333333;
  --primary-color: #ff5e00;
  --secondary-color: #ff8533;
  --toggler:#ffffff;
}

.dark-mode{
  --base-color: #0a0a0a;
  --base-variant: #1a1a2e;
  --text-color: #ffffff;
  --primary-color: #225dff;
  --secondary-color: #3b82f6;
  --toggler:#ffffff;
}

body{
    min-height: 100vh;
    background: var(--base-color);
    color: var(--text-color);
}
/* Header untuk memisahkan logo, nav, dan icon icon lain */
.main-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .5s ease;
  }
  
  .Logo-Text {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .Logo-Text img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all .3s ease;
  }
  .Logo-Text .text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Logo-Text h1,h2{
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
  }


  
  /* Navigation menu styling */
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    padding: 0 20px;
  }
  
  nav ul li a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease;
  }

  nav ul li a:hover {
    color: var(--primary-color);
  }

  nav ul li a.active {
    color: var(--primary-color);
    position: relative;
}

nav ul li a.active::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

  /* Social media icons styling */
  
    .social-media {
      display: flex;
      align-items: center;
      gap: 15px;
  }
  
  .social-media a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--base-variant);
      border-radius: 50%;
      transition: all .3s ease;
  }
  
  .social-media a i {
      width: 100px;  /* Mengontrol ukuran icon dengan width */
      height: 100px; /* Pastikan height sama dengan width */
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
  }
  .social-media a:hover i {
      color: var(--primary-color);
  }
/* Toggle switch styling */
  .toggle-wrapper {
    position: relative;
    width: 70px;
    height: 34px;
    cursor: pointer;
  }
  
  .toggle-switch {
    width: 70px;
    height: 34px;
    background-color: var(--primary-color);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: background-color 0.3s;
  }
  
  .toggle-switch .ri-sun-fill {
    color: #ffffff;
    width: 18px;
    margin-left: 4px;
  }
  
  .toggle-switch .ri-moon-fill {
    color: #f5f5f5;
    width: 18px;
    margin-right: 4px;
  }
  
  .toggle-slider {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 26px;
    height: 26px;
    background-color: var(--toggler);
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  body.dark-mode .toggle-slider {
    transform: translateX(36px);
  }
  
  /* Menu icon for mobile view */
  #menu-icon {
    display: none;
    cursor: pointer;
    padding-right:10px ;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1280px) {
    .main-navigation {
      padding: 14px 2%;
      transition: .2s;
    }
    nav ul li {
      padding: 0 15px;
    }
    
  }
  
  @media (max-width: 1090px) {
    #menu-icon {
        display: block;
        z-index: 10001;
    }
    
    nav ul {
        position: fixed;
        top: 8%;
        right: -100%; /* Hide menu initially */
        width: 270px;
        height: auto;
        background: rgba(32, 32, 32, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0;
        border-radius: 10px;
        transition: all .50s ease;
    }
    nav ul.active {
        right: 2%; /* Show menu when active */
    }
    nav ul li {
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
    }
    
    nav ul li a {
      font-size: 1.1rem;
    }
}